<p id="notice"><%= notice %></p>

<h1>Listing Semanticcategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semanticcategories.each do |semanticcategory| %>
      <tr>
        <td><%= semanticcategory.name %></td>
        <td><%= link_to 'Show', semanticcategory %></td>
        <td><%= link_to 'Edit', edit_semanticcategory_path(semanticcategory) %></td>
        <td><%= link_to 'Destroy', semanticcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semanticcategory', new_semanticcategory_path %>
