<p id="notice"><%= notice %></p>
<h1>
<%= gravatar_image_tag @user.email %>
<%= @user.nickname %>
</h1>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
